<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tositteach.domain.mapper.ClazzMapper">
    <resultMap id="claMap" type="clazz">
        <id property="claId" column="cla_id" jdbcType="VARCHAR"/>
        <result property="claName" column="cla_name" jdbcType="VARCHAR"/>
        <result property="room" column="room" jdbcType="VARCHAR"/>
        <result property="stuNum" column="stu_num"/>
        <association property="eng" javaType="engineer">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>


    <select id="total" resultType="_int">
        select count(*) from clazz
    </select>
    <select id="query" resultMap="claMap">
        select cla_id,cla_name,room,e.user_id as user_id,e.name as name,count(s.user_id) as stu_num
        from clazz as c natural left outer join engineer as e left outer join student as s using (cla_id)
        group by cla_id,cla_name,room,user_id,name
        <if test="nm>0">
            limit #{st},#{nm}
        </if>
    </select>

    <select id="getMaxId" resultType="string">
        select max(cla_id) from clazz
    </select>
    <insert id="add">
        insert into clazz
        values (#{claId},#{claName},#{room},#{userId})
    </insert>

    <!--根据选中班级的cla_id删除班级信息-->
    <delete id="del">
        delete from clazz where cla_id in
        <foreach collection="cis" item="ci" open="(" separator="," close=")">
            #{ci}
        </foreach>
    </delete>

    <update id="addstu">
        update student set cla_id=#{ci}
        where user_id in
        <foreach collection="sis" item="si" open="(" separator="," close=")">
            #{si}
        </foreach>
    </update>

</mapper>