<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tositteach.domain.mapper.EngDocMapper">
    <resultMap id="engDocMap" type="engDoc">
        <id property="docId" column="doc_id" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="proId" column="pro_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="get" resultMap="engDocMap">
        select * from doc_engineer
        where doc_id=#{di}
    </select>

    <select id="getMaxId" resultType="string">
        select max(doc_id) from doc_engineer
    </select>
    <insert id="add">
        insert into doc_engineer
        VALUES (#{docId},#{url},#{proId},#{userId})
    </insert>

    <update id="setUrl">
        update doc_engineer set url=#{url} where doc_id=#{di}
    </update>

    <!--删除文档-->
    <delete id="del">
        delete from doc_engineer where doc_id=#{di}
    </delete>

</mapper>