<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tositteach.domain.mapper.EngineerMapper">
    <resultMap id="engMap" type="engineer">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
    </resultMap>

    <select id="total" resultType="_int">
        select count(*) from engineer
    </select>
    <select id="query" resultMap="engMap">
        select user_id,name from engineer
        <if test="nm>0">
            limit #{st},#{nm}
        </if>
    </select>
</mapper>