<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tositteach.domain.mapper.EngineerMapper">
    <resultMap id="engMap" type="engineer">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
    </resultMap>

    <select id="selectAllEngineer" resultMap="EngineerMap">
        select * from engineer;
    </select>
    <select id="selectEngineerById" resultMap="EngineerMap" parameterType="String">
        select * from engineer where user_id = #{userId};
    </select>
    <select id="selectEngineerByName" resultMap="EngineerMap" parameterType="String">
        select * from engineer where name = #{name};
    </select>
    <insert id="insertEngineer" parameterType="com.tositteach.domain.entity.Engineer">
        insert into engineer(user_id,name,sex) values (#{userId},#{name},#{sex});
    </insert>
</mapper>