<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tositteach.domain.mapper.GpMapper">
    <resultMap id="groMap" type="gp">
        <id property="claId" column="cla_id" jdbcType="VARCHAR"/>
        <id property="groId" column="gro_id" jdbcType="TINYINT"/>
        <result property="groName" column="gro_name" jdbcType="VARCHAR"/>
        <result property="proId" column="pro_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getMaxId" resultType="byte">
        select case when max(gro_id) is null then -1 else max(gro_id) end
        from gp where cla_id=#{ci}
    </select>
    <insert id="add">
        insert into gp values (#{claId},#{groId},#{groName},#{proId});
    </insert>

    <update id="addstu">
        update student set gro_id=#{gi}
        where user_id in
        <foreach item="si" index="index" collection="sis" open="(" separator="," close=")">
            #{si}
        </foreach>
    </update>

</mapper>