<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tositteach.domain.mapper.GpMapper">
    <resultMap id="groMap" type="gp">
        <id property="claId" column="cla_id" jdbcType="VARCHAR"/>
        <id property="groId" column="gro_id" jdbcType="TINYINT"/>
        <result property="groName" column="gro_name" jdbcType="VARCHAR"/>
        <result property="proId" column="pro_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllGp" resultMap="groupMap">
        select * from  gp;
    </select>
    <select id="selectByClaidName" resultMap="groupMap">
        select * from  WHERE cla_id  = #{claId}and gro_name = #{groName};
    </select>
    <select id="selectById" resultMap="groupMap">
        select * from gp where cla_id = #{claId} and gro_id = #{groId};
    </select>
    <select id="selectByClaId" resultMap="groupMap">
        select * from gp where cla_id = #{claId};
    </select>
    <select id="selectByName" resultMap="groupMap">
        select * from gp where gro_name = #{groName};
    </select>
    <insert id="insertGroup" parameterType="com.tositteach.domain.entity.Gp">
        insert into gp(gro_id,cla_id,gro_name,pro_id) values (#{groId},#{claId},#{groName},#{proId});
    </insert>
    <delete id="deleteByClaId" parameterType="String">
        delete from gp where cla_id = #{claId};
    </delete>


</mapper>