<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tositteach.domain.mapper.ProjectMapper">
    <resultMap id="proMap" type="project">
        <id property="proId" column="pro_id" jdbcType="VARCHAR"/>
        <result property="proName" column="pro_name" jdbcType="VARCHAR"/>
        <result property="stTime" column="st_time" jdbcType="DATE"/>
        <result property="edTime" column="ed_time" jdbcType="DATE"/>
        <result property="disp" column="disp" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="TINYINT"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <association property="eng" javaType="engineer">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="name" column="name"/>
        </association>
        <association property="doc" javaType="engDoc" column="doc_pro_id" select="getProDoc"/>
    </resultMap>

    <select id="total" resultType="_int">
        select count(*)
        from project natural left outer join engineer
        <where>
            <if test="s != 3">
                state=#{s}
            </if>
            <if test="pn!=null">
                <bind name="lpn" value="'%'+pn+'%'"/>
                and pro_name like #{lpn}
            </if>
            <if test="en!=null">
                <bind name="len" value="'%'+en+'%'"/>
                and name like #{len}
            </if>
            <if test="ei!=null">
                <bind name="lei" value="'%'+ei+'%'"/>
                and user_id like #{lei}
            </if>
        </where>
    </select>
    <select id="query" resultMap="proMap">
        select pro_id,pro_name,st_time,user_id,name
        from project natural left outer join engineer
        <where>
            <if test="s != 3">
                state=#{s}
            </if>
            <if test="pn!=null">
                <bind name="lpn" value="'%'+pn+'%'"/>
                and pro_name like #{lpn}
            </if>
            <if test="en!=null">
                <bind name="len" value="'%'+en+'%'"/>
                and name like #{len}
            </if>
            <if test="ei!=null">
                <bind name="lei" value="'%'+ei+'%'"/>
                and user_id like #{lei}
            </if>
        </where>
        <if test="nm>0">
            limit #{st},#{nm}
        </if>
    </select>

    <select id="get" resultMap="proMap">
        select pro_id,pro_name,st_time,ed_time,disp,user_id,name,pro_id as doc_pro_id
        from project natural left outer join engineer where pro_id=#{pi}
    </select>
    <select id="getProDoc" resultType="engDoc">
        select doc_id as "docId",url from doc_engineer where pro_id=#{id}
    </select>


    <select id="getMaxId" resultType="string">
        select max(pro_id) from project
    </select>
    <insert id="add">
        insert into project
        values (#{proId},#{proName},#{stTime},#{edTime},#{disp},default,default,#{userId})
    </insert>

    <delete id="del">
        delete from project where pro_id=#{pi}
    </delete>

    <update id="setState">
        update project set state=#{s} where pro_id=#{pi}
    </update>

    <update id="mod">
        update project set pro_name=#{proName},ed_time=#{edTime},disp=#{disp} where pro_id=#{proId}
    </update>

</mapper>