<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tositteach.domain.mapper.ProjectMapper">
    <resultMap id="proMap" type="project">
        <id property="proId" column="pro_id" jdbcType="VARCHAR"/>
        <result property="proName" column="pro_name" jdbcType="VARCHAR"/>
        <result property="stTime" column="st_time" jdbcType="DATE"/>
        <result property="edTime" column="ed_time" jdbcType="DATE"/>
        <result property="disp" column="disp" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="TINYINT"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllProjectS" resultMap="ProjectMap">
        select * from project where state = 0;
    </select>

    <select id="selectAllProjectT" resultMap="ProjectMap">
        select * from project where state = 1;
    </select>


    <select id="selectAllProjectM" resultMap="ProjectMap">
        select * from project where state = 2;
    </select>

    <select id="selectAllProject" resultMap="ProjectMap">
        select * from project;
    </select>

    <insert id="insertProject" parameterType="com.tositteach.domain.entity.Project">
        insert into project(pro_id,pro_name,st_time,ed_time,disp,state,time,user_id)
         values (#{proId},#{proName},#{stTime},#{edTime},#{disp},#{state},#{time},#{userId});
    </insert>
    <delete id="deleteProject" parameterType="String">
        delete from project where project.pro_id = #{proId};
    </delete>
    <update id="updateProject" parameterType="com.tositteach.domain.entity.Project">
        update project set pro_name = #{proName},ed_time = #{edTime}, disp=#{disp},pro_id=#{proId};
    </update>
    <update id="updateProjectState" parameterType="com.tositteach.domain.entity.Project">
        update project set state = #{state} where pro_id=#{proId};
    </update>
    <select id="selectById" parameterType="String">
        select * from  project where pro_id=#{proId};
    </select>
    <select id="selectByEngineerId" parameterType="String">
        select * from project where user_id = #{userId} and state = #{state};
    </select>
</mapper>