<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tositteach.domain.mapper.StudentMapper">
    <resultMap id="stuMap" type="student">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="school" column="school" jdbcType="VARCHAR" />
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="grade" column="grade" jdbcType="VARCHAR"/>
        <association property="gp" javaType="gp">
            <id property="claId" column="cla_id" jdbcType="VARCHAR"/>
            <id property="groId" column="gro_id" jdbcType="TINYINT"/>
            <result property="proId" column="pro_id" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="total" resultType="_int">
        select count(*) from student
        <choose>
            <when test='ci=="n"'>
                where cla_id is null
            </when>
            <when test="ci!=null">
                where cla_id=#{ci}
            </when>
            <otherwise></otherwise>
        </choose>
    </select>

    <select id="query" resultMap="stuMap">
        select user_id,id,name,cla_id,gro_id
        from student
        <choose>
            <when test='ci=="n"'>
                where cla_id is null
            </when>
            <when test="ci!=null">
                where cla_id=#{ci}
            </when>
            <otherwise></otherwise>
        </choose>
        <if test="nm>0">
            limit #{st},#{nm}
        </if>
    </select>

    <!--<select id="get" resultMap="stuMap">
        select user_id,cla_id,gro_id,pro_id
        from student natural join gp
        where user_id=#{si}
    </select>-->

    <select id="getMaxId" resultType="string">
        select max(user_id) from student
    </select>
    <insert id="add">
        insert into student values (#{userId},#{school},#{id},#{name},#{sex},#{grade},null,null)
    </insert>

</mapper>