<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tositteach.domain.mapper.StuDocMapper">
    <resultMap id="stuDocMap" type="stuDoc">
        <id property="docId" column="doc_id" jdbcType="VARCHAR"/>
        <result property="docName" column="doc_name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="score" column="score" jdbcType="TINYINT"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="disp" column="disp" jdbcType="VARCHAR"/>
        <association property="gp" javaType="gp">
            <id property="claId" column="cla_id" jdbcType="VARCHAR"/>
            <id property="groId" column="gro_id" jdbcType="TINYINT"/>
            <result property="groName" column="gro_name"/>
        </association>
        <association property="pro" javaType="project">
            <id property="proId" column="pro_id" jdbcType="VARCHAR"/>
            <result property="proName" column="pro_name"/>
        </association>
    </resultMap>

    <select id="total" resultType="_int">
        select count(*)
        from doc_student
          natural left outer join gp
          join project using (pro_id)
        <where>
            <if test="dn != null">
                <bind name="ldn" value="'%'+dn+'%'"/>
                doc_name like #{ldn}
            </if>
            <if test="gn!=null">
                <bind name="lgn" value="'%'+gn+'%'"/>
                and gro_name like #{lgn}
            </if>
            <if test="pn!=null">
                <bind name="lpn" value="'%'+pn+'%'"/>
                and pro_name like #{lpn}
            </if>
        </where>
    </select>

    <select id="query" resultMap="stuDocMap">
        select doc_id,doc_name,cla_id,gro_id,gro_name,pro_id,pro_name
        from doc_student
          natural left outer join gp
          join project using (pro_id)
        <where>
            <if test="dn != null">
                <bind name="ldn" value="'%'+dn+'%'"/>
                doc_name like #{ldn}
            </if>
            <if test="gn!=null">
                <bind name="lgn" value="'%'+gn+'%'"/>
                and gro_name like #{lgn}
            </if>
            <if test="pn!=null">
                <bind name="lpn" value="'%'+pn+'%'"/>
                and pro_name like #{lpn}
            </if>
        </where>
        <if test="nm>0">
            limit #{st},#{nm}
        </if>
    </select>

    <select id="get" resultMap="stuDocMap">
        select doc_id,doc_name,disp,score,time,cla_id,gro_id,gro_name
        from doc_student
          natural left outer join gp
        where doc_id=#{di}
    </select>

    <select id="getStuGp" resultType="gp">
        select cla_id as "claId",gro_id as "groId",pro_id as "proId"
        from student natural join gp
        where user_id=#{si}
    </select>
    <select id="getMaxId" resultType="string">
        select max(doc_id) from doc_student
    </select>
    <insert id="add">
        insert into doc_student values (#{docId},#{docName},#{url},default,default,
          #{disp},#{claId},#{groId},#{proId})
    </insert>

    <update id="setUrl">
        update doc_student set url=#{url} where doc_id=#{di}
    </update>

    <delete id="del">
        delete from doc_student where doc_id=#{di}
    </delete>

    <update id="setScore">
        update doc_student set score=#{sc} where doc_id=#{di}
    </update>
</mapper>