<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tositteach.domain.mapper.StudentMapper">
    <resultMap id="stuMap" type="student">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="school" column="school" jdbcType="VARCHAR" />
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="grade" column="grade" jdbcType="VARCHAR"/>
        <result property="claId" column="cla_id" jdbcType="VARCHAR"/>
        <result property="groId" column="gro_id" jdbcType="TINYINT"/>
    </resultMap>

    <select id="selectAllStudents" resultMap="studentMap">
        SELECT * FROM student;
    </select>
    <insert id="insertStudent" parameterType="com.tositteach.domain.entity.Student">
        INSERT INTO student(user_id,school,id,
                      name,sex,grade)
                      VALUES
          (#{userId},#{school},#{id},#{name},
          #{sex},#{grade})
    </insert>

    <update id="updateStudentClass" parameterType="com.tositteach.domain.entity.Student">
        UPDATE student
        SET cla_id=#{claId}
        WHERE user_id= #{userId}
    </update>

    <update id="updateStudentGroup" parameterType="com.tositteach.domain.entity.Student">
        UPDATE student
        SET gro_id = #{studGroup}
        WHERE user_id = #{userId} AND cla_id = #{claId}
    </update>

    <select id="selectStudentsByClassId" parameterType="String" resultMap="studentMap">
        SELECT * FROM student
        WHERE cla_id= #{claId}
    </select>

    <select id="selectStudentNoClass" resultMap="studentMap">
        SELECT * FROM student
        WHERE cla_id = NULL
    </select>

    <insert id="insertInfoBatch" parameterType="java.util.List">
        insert into salarymanage (user_id,school,id,
        name,sex,grade)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId}, #{item.school}, #{item.id},#{item.name},
            #{item.sex}, #{item.grade})
        </foreach>
    </insert>


</mapper>