<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tositteach.domain.mapper.StuDocMapper">
    <resultMap id="doc_studentMap" type="com.tositteach.domain.entity.StuDoc">
        <id column="doc_id" property="docId" jdbcType="VARCHAR"/>
        <result column="doc_name" property="docName" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="TINYINT"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="disp" property="disp" jdbcType="LONGVARCHAR"/>
        <result column="cla_id" property="claId" jdbcType="VARCHAR"/>
        <result column="gro_id" property="groId" jdbcType="VARCHAR"/>
        <result column="pro_id" property="proId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--增删改查待写-->

    <!--查询doc_student表中所有信息-->
    <select id="selectAllDoc_student" resultMap="doc_studentMap">
        SELECT * FROM stuDoc
    </select>

    <!--按文档名称搜索，列出信息-->
    <select id="selectDoc_studentName" resultMap="doc_studentMap" parameterType="string">
        SELECT * FROM stuDoc
        WHERE doc_name=#{docName}
    </select>

    <!--按照文档id搜索，找到该文档-->
    <select id="selectAllByDocsId" resultMap="doc_studentMap" parameterType="string">
        SELECT * FROM stuDoc
        WHERE doc_id=#{docId}
    </select>

    <!--按项目名称搜索，列出信息-->
    <!--这里是根据项目id来选择，需要根据项目名称联系到项目id（project表）-->
    <!--<select id="selectDoc_studentProj" resultMap="doc_studentMap" parameterType="string">-->
        <!--SELECT * FROM stuDoc-->
        <!--WHERE pro_id=#{proId}-->
    <!--</select>-->

    <!--按小组名称搜索，列出信息-->
    <!--这里根据gro_id和cla_id来选择，需要根据小组名称联系到小组id（gp表）-->
    <select id="selectDoc_studentByGpName" resultMap="doc_studentMap" parameterType="string">
        SELECT * FROM stuDoc
        WHERE gro_id=#{groId} AND cla_id=#{claId}
    </select>

    <!--下载获取url-->
    <select id="selectDoc_student" resultMap="doc_studentMap" parameterType="string">
        SELECT url FROM stuDoc
        WHERE doc_id=#{docId}
    </select>

    <!--删除文档-->
    <delete id="deleteDoc_student" parameterType="string">
        DELETE FROM stuDoc WHERE doc_id=#{docId}
    </delete>

    <!--修改文档分数-->
    <update id="updateDoc_studentScore" parameterType="string">
        UPDATE
        stuDoc SET score=#{score}
        WHERE doc_id=#{docId}
    </update>

    <!--修改已上传文档-->
    <update id="updateDoc_studentUrl" parameterType="string">
        UPDATE
        stuDoc SET url=#{url}
        WHERE doc_id=#{docId}
    </update>

    <!--文档添加-->
    <insert id="insertDoc_student" parameterType="com.tositteach.domain.entity.StuDoc">
        INSERT INTO stuDoc(doc_id,doc_name,url,score,time,disp,cla_id,gro_id,pro_id)
        VALUES
        (#{docId},#{docName},#{url},#{score},
        #{time},#{disp},#{claId},#{groId},#{proId})
    </insert>

    <!--初次上传文档-->
    <update id="updateDoc_studentFurl" parameterType="string">
        UPDATE
        stuDoc SET url=#{url}
        WHERE doc_name=#{docName}
    </update>

</mapper>