<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tositteach.domain.mapper.TaskMapper">
    <resultMap id="taskMap" type="com.tositteach.domain.entity.Task">
        <id column="task_id" property="tasId" jdbcType="VARCHAR"/>
        <result column="task_name" property="tasName" jdbcType="VARCHAR" />
        <result column="st_time" property="stTime" jdbcType="DATE"/>
        <result column="ed_time" property="edTime" jdbcType="DATE"/>
        <result column="disp" property="disp" jdbcType="VARCHAR"/>
        <result column="plan" property="plan" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAllTask" resultMap="taskMap">
        select * from task;
    </select>
    <select id="insertTasks" parameterType="com.tositteach.domain.entity.Task">
        INSERT INTO task(task_id,task_name,
                      st_time,ed_time,disp,plan,time,user_id)
                      VALUES
          (#{tasId},#{tasName},#{stTime},#{edTime},
          #{disp},#{plan},#{time},#{userId})
    </select>
    <select id="selectOnetask" parameterType="String">
        SELECT * from task
        WHERE task_id=#{tasId}
    </select>

</mapper>