<!DOCTYPE html>
<html lang="zh">
<head>

    <meta charset="utf-8">
    <title>Student Add</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/admin.css" rel="stylesheet">
    <link href="assets/css/fileinput.min.css" rel="stylesheet">
    <link href="assets/css/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="assets/css/demo.css" rel="stylesheet" type="text/css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="application/javascript" src="script/req.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

<div class="container" id="app">

    <div class="row">

        <div class="span2">

            <div class="main-left-col">

                <h1><i class="icon-thumbs-up icon-large"></i> TOSIT</h1>

                <ul class="side-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#website-dropdown" href="#"> 关于项目
                            <b class="caret"></b></a>
                        <ul id="website-dropdown" class="collapse">
                            <li><a href="project_view.html">项目查看</a></li>
                            <li><a href="project_add.html">项目添加</a></li>
                            <li><a href="project_access.html">项目审批</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"> 关于文档
                            <b class="caret"></b></a>
                        <ul id="store-dropdown" class="collapse">
                            <li><a href="document_view.html">文档查看</a></li>
                            <li><a href="document_add.html">文档添加</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#reports-dropdown" href="#"> 关于学生
                            <b class="caret"></b></a>
                        <ul id="reports-dropdown">
                            <li class="active"><a href="student_add.html">学生添加</a></li>
                            <li><a href="student_manage.html">学生管理</a></li>
                            <li><a href="class_manage.html">班级管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"> 教学计划
                            <b class="caret"></b></a>
                        <ul id="members-dropdown" class="collapse">
                            <li><a href="task_view.html">任务查看</a></li>
                            <li><a href="task_add.html">任务添加</a></li>
                        </ul>
                    </li>
                </ul>

            </div> <!-- end main-left-col -->

        </div> <!-- end span2 -->

        <div class="span10">

            <div class="secondary-masthead">

                <ul class="nav nav-pills pull-right">
                    <li>
                        <a href="home.html"><i class="icon-user"></i>{{user.name}}</a>
                    </li>
                </ul>

                <ul class="breadcrumb">
                    <li class="active"><i class="icon-home"></i> TOSIT实训管理系统/关于学生/学生添加</li>
                </ul>
            </div>

            <div class="main-area dashboard">
                <center>
                    <form action="">
                        <table class="inputtable">
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="sname">姓 名</label></th>
                                <td><input class="inp" type="text" id="sname" v-model="n"/></td>
                            </tr>
                            <tr>
                                <th scope="row" style="font-weight: normal">性 别</th>
                                <td class="form-inline">
                                    <input type="radio" name="sx" id="sx0" value="0" v-model="sx">
                                    <label for="sx0">男</label>
                                    <input type="radio" name="sx" id="sx1" value="1" v-model="sx">
                                    <label for="sx1">女</label>
                                    <input type="radio" name="sx" id="sx2" value="2" v-model="sx">
                                    <label for="sx2">其他</label>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" style="font-weight: normal">年 级</th>
                                <td class="form-inline">
                                    <input type="radio" name="g" id="g0" value="0" v-model="g">
                                    <label for="g0">大一</label>
                                    <input type="radio" name="g" id="g1" value="1" v-model="g">
                                    <label for="g1">大二</label>
                                    <input type="radio" name="g" id="g2" value="2" v-model="g">
                                    <label for="g2">大三</label>
                                    <input type="radio" name="g" id="g3" value="3" v-model="g">
                                    <label for="g3">大四</label>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="school">学 校</label></th>
                                <td><input class="inp" type="text" id="school" v-model="sh"/></td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="id">学 号</label></th>
                                <td><input class="inp" type="text" id="id" v-model="id" ref="id"/></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="tianjia">
                                    <button type="button" class="btn btn-primary" @click="add">
                                        添加
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </center>

            </div>

            <div class="row">

                <div class="span10 footer">

                    <p>&copy; TOSIT 2018</p>
                </div>
            </div>


        </div> <!-- end span10 -->
    </div> <!-- end row -->

</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="application/javascript" src="script/student_add.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>

</body>
</html>