<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>上传文件Demo</title>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/util/jquery/jquery-3.3.1.min.js" type="application/javascript"></script>

    <script src="/script/req.js"></script>

    <script type="application/javascript" src="/util/layui-2.3.0/layui.js"></script>
    <link rel="stylesheet" href="/util/layui-2.3.0/css/layui.css" type="text/css" media="all">
</head>
<body>
<div id="upload">
    <button type="button" class="layui-btn" id="selectFilesDiv">
        <i class="layui-icon">&#xe67c;</i>选择文件
    </button>
    <button type="button" class="layui-btn" id="cfmUploadBtn">确认上传</button>
</div>

<!--<div id="paging">
    <form>
        <button type="button" @click="prev">上一页</button>
        {{currPage}}/{{totalPage}}
        <button type="button" @click="next">下一页</button>
        <label for="ps">每页条数</label>
        <input id="ps" pattern="[0-9]+" v-model="pageSize">
        <button type="button" @click="update">刷新</button>
    </form>

    <ul>
        <li v-for="doc in docs">
            <a :href="doc.url" target="_blank" :title="doc.url.substring(37)">{{doc.docId}}<span style="padding-left: 10px">{{doc.url.substring(37)}}</span></a>
        </li>
    </ul>
</div>-->

<table id="doctable" lay-filter="doctable"></table>

<script type="application/javascript" src="/script/upload.js"></script>
</body>
</html>